.personagem{
  width: 250px;
  height: 350px;
  padding: 10px 5px;

  .dados{
    box-shadow: 0px -50px 36px #000 inset;
    width: 250px;
    height: 350px;
    position: relative;
    bottom: 353px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .status{
      width: 100%;
      justify-content: flex-end;
      display: flex;
      .etiqueta{
        background-color: green;
        width: 100px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        right: 10px;
        top: 10px;
      }
    }
    .info{
      justify-content: flex-end;
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      .nome{
        display: flex;
        font-size: 16px;
        font-weight: 500;
      }
      .data-nascimento{
        display: flex;
      }
      .ocupacao{
        display: flex;
        text-align: left;
      }
    }
  }
}
