.Personagens {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 100px;

  .cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    //background-image: url('../../Img/lupa-branca.png');
    input
    {
      background: url('../../Img/lupa-branca.png') no-repeat 212px center;
      color: white;
      // background-color: rgba(0,0,0,0.1);
      background-size: 20px;
      border: none;
      border-bottom: 1px solid rgba(255,255,255,0.5);
      padding-top: 2px;
      text-indent: 8px;
      width: 240px;
      height: 39px;
    }

  }
.lista-personagens{
  color: white;
  .titulo{
    font-size: 20px;
    align-items: flex-start;
    display: flex;
    padding-bottom: 15px;
  }
  .lista{
    font-size: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .personagem{
      width: 250px;
      height: 350px;
      padding: 10px 5px;

      .dados{
        box-shadow: 0px -50px 36px #000 inset;
        width: 250px;
        height: 350px;
        position: relative;
        bottom: 353px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .status{
          width: 100%;
          justify-content: flex-end;
          display: flex;
          .etiqueta{
            background-color: green;
            width: 100px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            right: 10px;
            top: 10px;
          }
        }
        .info{
          justify-content: flex-end;
          display: flex;
          flex-direction: column;
          padding-left: 10px;
          .nome{
            display: flex;
            font-size: 16px;
            font-weight: 500;
          }
          .data-nascimento{
            display: flex;
          }
          .ocupacao{
            display: flex;
            text-align: left;
          }
        }
      }
    }
  }
}
}
